til-classchat-notice/til-classchat-notice-automation-n8n.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa9ddb74-73f2-488e-b26b-ab7881b724a7",
              "leftValue": "={{ $now }}",
              "rightValue": "2026-03-06T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "894ed436-e464-41d5-afff-3fb52da8f1fc",
              "leftValue": "={{ $now }}",
              "rightValue": "2026-04-01T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1728,
        -544
      ],
      "id": "efc066a6-51c7-4083-9155-d030c9a7dfc1",
      "name": "3/1~3/31 사이 기간일경우"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"text\": \"*[TIL 클래스챗 공지 발송 완료]*\\n\\n📢 똑똑! 3월 TIL 블로그 챌린지 공지가\\n부트캠프 클래스챗 채널에 모두 전달되었어요 ✨\\n\\n📣 발송 채널: \" + $items('발송 데이터 정리').length + \"개\\n🕒 발송 시각: \" + $now.toFormat('yyyy-MM-dd HH:mm') + \"\\n\\n📚 발송 부트캠프:\\n\" + $items('발송 데이터 정리').map(item => \"• \" + item.json.bootcamp_name + \" (\" + item.json.type + \")\").join(\"\\n\")\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        -544
      ],
      "id": "5b371c72-4aa0-4f73-a63b-61414b8099fa",
      "name": "슬랙 알림 발송_marketing-division"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 12,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1904,
        -544
      ],
      "id": "69750815-6f92-4526-be79-0e564cabcd62",
      "name": "금요일 오후 12시 50분"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XPyF5GJBvURx7ph6RzWrjs0vhBG38s3nzhcM2C1V7PE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "채널",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "active",
              "lookupValue": "Y"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1536,
        -544
      ],
      "id": "af9d11a8-0678-4aab-b117-18d81acd5051",
      "name": "채널 시트 읽기",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdlZIbEb2yKnPnVR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XPyF5GJBvURx7ph6RzWrjs0vhBG38s3nzhcM2C1V7PE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "메시지"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "type",
              "lookupValue": "={{$json.type}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1152,
        -544
      ],
      "id": "b7d5429e-7b22-4410-bfae-a4655e54a38b",
      "name": "메시지 시트 조회",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IdlZIbEb2yKnPnVR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-webhook",
              "name": "webhook_url",
              "value": "={{ $('active = Y 인 경우').item.json.webhook_url }}",
              "type": "string"
            },
            {
              "id": "set-message",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "set-bootcamp-name",
              "name": "bootcamp_name",
              "value": "={{ $('active = Y 인 경우').item.json.bootcamp_name }}",
              "type": "string"
            },
            {
              "id": "set-type",
              "name": "type",
              "value": "={{ $('active = Y 인 경우').item.json.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        -544
      ],
      "id": "7e28e028-0b83-445c-8e68-bf8c54fbe3bb",
      "name": "발송 데이터 정리"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        -544
      ],
      "id": "05c8638e-8987-406a-9bad-fe45e4b01031",
      "name": "클래스챗 공지 발송"
    },
    {
      "parameters": {
        "content": "테스트",
        "height": 272,
        "width": 1696
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1968,
        -624
      ],
      "typeVersion": 1,
      "id": "317c3767-0cea-4ef1-929a-fd2c12d50d6b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e3d143d-179b-4d70-8799-0f0adfad599c",
              "leftValue": "={{ $json.active }}",
              "rightValue": "Y",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1360,
        -544
      ],
      "id": "ac2e73bf-ad02-49ad-aff0-b1f9fa37d384",
      "name": "active = Y 인 경우"
    }
  ],
  "connections": {
    "3/1~3/31 사이 기간일경우": {
      "main": [
        [
          {
            "node": "채널 시트 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "금요일 오후 12시 50분": {
      "main": [
        [
          {
            "node": "3/1~3/31 사이 기간일경우",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "채널 시트 읽기": {
      "main": [
        [
          {
            "node": "active = Y 인 경우",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메시지 시트 조회": {
      "main": [
        [
          {
            "node": "발송 데이터 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "발송 데이터 정리": {
      "main": [
        [
          {
            "node": "클래스챗 공지 발송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "클래스챗 공지 발송": {
      "main": [
        [
          {
            "node": "슬랙 알림 발송_marketing-division",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "active = Y 인 경우": {
      "main": [
        [
          {
            "node": "메시지 시트 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48ebecc16220aec81ab77ea764b9631518d6c1a890339ebd7c05d877082cdab5"
  }
}
